
@{
    ViewBag.Title = "OrderConfirmation";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>OrderConfirmation</h2>
<div class="wishlist-footer">
    <a href="@Url.Action("Index", "Home")" class="btn-wishlist">Back to Your Account</a>
    <a href="@Url.Action("Index", "Home")" class="btn-wishlist">Home</a>
    <a href="@Url.Action("OrderList", "Cart")">View Order List</a>

</div>

